<div class="comment">
  <h3>Comment <%= comment.id %>:</h3>
  <p><%= comment.body %></p>
  <div class="reply">
    <% comment.replies.each do |reply| %>
      <% cache reply do %>
        <%= render reply %>
      <% end %>
    <% end %>
  </div>
</div>
